<!DOCTYPE html>
<html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% load bootstrap5 %}
            {% bootstrap_css %}
            {% bootstrap_javascript %}
            {% bootstrap_messages %}
            {% load static %} 
            <link href="{% static 'css/index.css' %}" rel="stylesheet">
            <link href="{% static 'css/floating_side.css' %}" rel="stylesheet">
            
        </head>
<body>
    {% block navbar %}
    {%include 'navbar.html' %}
    {% endblock navbar %}
    <div class="p-5 text-center bg-light">
        <h2 class="mb-3 text-dark">Biophysical Essentials</h1>
        <h4 class="mb-3 text-dark"> Software to ease Electrophysiological Analysis</h4>
        <a class="btn btn-primary" href="" role="button">Visit GitHub Repository</a>
    </div>
    {% block dashboard %} 
    {%include 'floating_side.html' %}
    {% endblock dashboard %}


    </div>
</body>
</html>