
<br>
<div class="col">
<div class="card bg-light">
<div class="card-header text-dark">
Ephys Menu:
</div>
<div class="card-body"
<nav class="menu">
    <header>Biophysical Essentials Documentation<span>×</span></header>
    <ol>
        <li class="menu-item"><a href="#0"></a> Description </li>
        <li class="menu-item"><a href="#0">How to install</a></li>
        <li class="menu-item">
            <a href="#0">Offline Analysis</a>
            <ol class="sub-menu">
                <li class="menu-item"><a href="#0">Big Widgets</a></li>
                <li class="menu-item"><a href="#0">Bigger Widgets</a></li>
                <li class="menu-item"><a href="#0">Huge Widgets</a></li>
            </ol>
        </li>
        <li class="menu-item">
            <a href="#0">Kabobs</a>
            <ol class="sub-menu">
                <li class="menu-item"><a href="#0">Shishkabobs</a></li>
                <li class="menu-item"><a href="#0">BBQ kabobs</a></li>
                <li class="menu-item"><a href="#0">Summer kabobs</a></li>
            </ol>
        </li>
        <li class="menu-item"><a href="#0">Contact</a></li>
    </ol>
</nav> 
</div>
</div>