{% if 'mRNA' in request.path %}
<div class="jumbotron" style="background-color: #e3f2fd;">
    <div class="p-3 bg-light text-dark" >
        <h2> iPSC Transcriptomics </h2>
    </div>
</div>
<br>
<hr>
<div class="Settings">
    <div class="card bg-light">
        <div class="card-header text-dark">
        <a data-bs-toggle="collapse" href="#collapsable_item" aria-expanded="true" aria-controls="collapsable_item">
            Setup Query
        </a>
        </div>
    <div id="collapsable_item">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="card bg-light border-secondary text-dark">
                    <div class="card-header bg-primary text-dark" >
                    Select a gene of interest: 
                    </div>
                    <div class="card-body">
                        <form action="{% url 'mRNA' %}", method="post", class="form-inline">
                        {% csrf_token %}
                        {% block form %}
                        {{ form }}
                        <input type = "submit" class="btn btn-primary text-dark">
                        {% endblock form %}
                        <datalist id="gene_names">
                        {% for results in gene_names %}
                            <option value="{{results}}">
                        {% endfor %}
                        </datalist>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">
                {% if draw %}
                <div class="card bg-light border-secondary text-dark">
                    <div class="card-header bg-primary text-dark">
                        Selected Genes:
                    </div>
                    <div class="card-body">
                        <form action="{% url 'mRNA' %}" method="post">
                        {% csrf_token %}
                        {% for results in genes_listed %}
                            <button type = "submit" name = "Gene" id="gene_button" class="btn btn-primary text-dark"  value={{results}} and style="background-color:transparent">{{results}}</button>
                        {% endfor %}
                        </form>
                         {%endif%}
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<hr>
<br>
<div class="container-fluid">
    <div class="row">
        {% for cell in plot_cell %}
        <div class="col">
            <div class="card bg-light">
            <div class="card-header bg-primary text-white">
                Cellline: 
            </div>

            <div class="card-body">
            <div id="cell{{ forloop.counter }}" class="vega-embed">
                <canvas width="1366" id="chart_pl" height="960" class="marks" style="width: 976px; height: 686px;"></canvas>
            </div>
            <script type="text/javascript">
                var spec = {{ cell|safe }};
                var opt = {"renderer": "canvas", "actions": false};
                vegaEmbed("#cell{{ forloop.counter }}", spec, opt);
            </script>
        </div>
    </div>
</div>
        {% endfor %}
</div>
</div>
{% endif %}