body {
  background-color: white;
}

h4 {
  color: black;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

.button_grouped {
  margin-top: 10px;
  color: grey;
}

input {
  border-radius: 5px;
}

canvas.marks {
  height: auto !important;
}

.jumbotron {
  background-color: #e3f2fd;
}

.list-group-item {
  background-color: #e3f2fd;
  margin-left: 0;
}

.sidebar {
  background-color: #e3f2fd;
}

@media (max-width: 576px) {
  .flex-sm-row {
    flex-direction: column;
  }
}
